.login-container {
  position: relative;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  min-height: 100vh;      /* ocupa toda la altura de la pantalla */
  width: 100vw; 
  background-color: rgb(193, 199, 211);
  margin-top: 15px;
}

.login-form {
  background-color: rgb(139, 153, 204);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(248, 233, 233, 0.962);
  display: block;
  width: 200px; 
}
.login-container .input-usuario, .login-container .input-password {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.btn_ingresar{
  font-size: 2.7vh ;
  border-radius: 15px ;      /* más redondo */
  background-color: #777b80 ; /* color de fondo personalizado */
  color: #fff;              /* color del texto */
  padding: 5px 30px;        /* más espacio interno */
  font-weight: bold; /* negrita */
  transition: background 0.3s;
  margin-top: 20px;
  margin-left: 24px;
}

.crear-cuenta {
  margin-top: 12px;
  text-align: center;
}

.crear-cuenta .link-crear-cuenta:hover {
  text-decoration: underline;
}