.portada2{
  
   position: relative;
    display: flex;
    flex-direction: column; 
    background-color: rgb(193, 199, 211);
    min-height: 100vh;      /* ocupa toda la altura de la pantalla */
    width: 100vw; 
}

.subportada2{
    
    position: relative;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
 
   
}


.portada2 .titulo2{
    
    font-family: 'arial black'; 
    font-size: 5vh; /* Tamaño de fuente grande */
    color: #1b0a47; /* Color del texto */
    margin-top: 100px ; /* Espacio superior e inferior */
 
    padding-left: 130px !important;
    font-weight: bold; /* negrita */
}

.portada2 .subtitulo2{
    
    font-size: 3.2vh; /* Tamaño de fuente grande */
    color: #1d0c49; /* Color del texto */
    margin-bottom: 40px; /* Espacio inferior */
    margin-left: 130px;
    
}

.lineaTiempoContainer img {
  width: 1000px;   /* ancho deseado */
  height: auto;   /* mantiene la proporción original */
  
  margin: 0 auto; /* centra la imagen horizontalmente */
}

.conteinerDocumentacion{
    background-color: rgb(177, 184, 211);
    padding : 20px 50px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(248, 233, 233, 0.962);
    display: block;
    width: 1000px; 
    height: auto;
    margin-top: 50px;
}

.tituloDocumentacion{
    font-family: 'arial'; /* Asegúrate de que la fuente esté importada */
    font-size: 4vh; /* Tamaño de fuente grande */
    color: #1b0a47; /* Color del texto */
   margin: 0%;
}

.subtituloDocumentacion{
    font-family: 'arial'; /* Asegúrate de que la fuente esté importada */
    font-size: 2.5vh; /* Tamaño de fuente grande */
    color: #43385f; /* Color del texto */
   margin: 0%;
}

.cargaArchivos{
 background-color: rgb(232, 233, 241);
    padding : 150px 50px;
    border-radius: 10px;
    display: block;
   
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.contenedorBoton{
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 700px !important;
    
}


